<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %} Deafault title{% endblock title%}</title>
    <link rel="stylesheet" href="{% static "styles.css" %}" />
</head>
<body>
    <div id="wrapper">
	    <div id="header">
		    <div id="menu">
	            <a href="/main">Главная</a>
	            <a href="/users" class  ="active">пользователи</a>
				<a href="/registration" class="active">регистрация</a>
                <a href="/logout" class="active">выйти</a>
	        </div>
        </div>
        <div id="container">
		    <div id="content">
			    {% block content %} content {% endblock content %}
		    </div>
	    </div>
	    <div id="footer">
		    footer
	    </div>
    </div>
</body>
</html>